svg.icon {
    fill: currentColor;
}
.icon--xs {
    width: 10px;
    height: 10px;
}
.icon--sm {
    width: 15px;
    height: 15px;
}
.icon--md {
    width: 20px;
    height: 20px;
}
.icon--lg {
    width: 25px;
    height: 25px;
}