@import 'variables';
@import 'layout';
@import 'utils';
@import 'shadows';
@import 'button';
@import 'icon';

body {
    font-family: 'Poppins', sans-serif;
    background: #F4F5F9;
}

// Remove default blue border
a:focus,
button:focus,
input:focus,
textarea:focus {
    outline: none;
}