@import 'variables';
@import 'layout';
@import 'utils';
@import 'shadows';

body {
    font-family: 'Poppins', sans-serif;
    background: #F4F5F9;
}

// Remove default blue border and highlight
input,
textarea,
button,
a {
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
    &:focus {
        outline: none;
    }
}