// Box shadow
.topbar-shadow {
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.06);
}

.regular-shadow {
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.06);
}

.card-title-shadow {
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.06);
}